#wrapper-card {
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    text-align: right;
    border-radius: 20px;
    border: 0.5px solid gray;
}

#card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 475px) {
    #card-content {
        grid-template-columns: 1fr 2fr;
    }
}